@import "@fontsource-variable/inter";
@import "@fontsource/marcellus";
@import "tailwindcss";
@import "./layout.css";
@import "./home.css";
@import "./buscador.css";

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-display: "Marcellus", serif;
  --color-rhl-primary: #072c5a;
  --color-rhl-secondary: #7898c1;
}

html,
body {
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
