@import "@fontsource-variable/inter";
@import "@fontsource/marcellus";
@import "tailwindcss";
@import "./layout.css";

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-display: "Marcellus", serif;
  --color-rhl-primary: #072c5a;
  --color-rhl-secondary: #7898c1;
  --color-rhl-soft-blue: #f0f4fa;

  --color-primary: #000f24;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
